.center-text{
    text-align: center;
}

section{
    
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.beside{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}